#root {
    .layout {
        .logo,
        .logo-small {
            height: $header-logo-height;
            max-height: 60px;
            width: auto;

            @include media-breakpoint-down("lg") {
                margin-left: 0;
            }
        }

        .logo-small {
            margin-top: 33px;
        }

        .bg-primary-400.w-100 h1.text-white {
            margin: 15px .5rem 24px !important;
        }

        .pgn__hyperlink + .d-flex {
            @include media-breakpoint-down("sm") {
                margin: $spacer !important;
            }

            @include media-breakpoint-down("xs") {
                margin: 5px !important;
            }
        }

        & > .content.align-items-center {
            @include media-breakpoint-down(sm) {
                padding: 15px !important;
            }
        }

        .bg-white {
            @include media-breakpoint-down("lg") {
                display: none;
            }
        }

        .bg-primary-400,
        .bg-light-200 {
            background-color: $login-registration-left-bg !important;

            @include media-breakpoint-down("lg") {
                flex: 0 0 100%;
                max-width: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        }

        .bg-primary-400 h1 {
            @include media-breakpoint-down("lg") {
                margin: 3rem .5rem !important;
            }
        }

        .bg-light-200 {
            h1 {
                color: $white;

                @include media-breakpoint-down("lg") {
                    margin: 1rem 0 .5rem;
                    font-size: 18px;
                }

                @include media-breakpoint-down("sm") {
                    margin: 0 0 .5rem;
                    font-size: 14px;
                }

                @include media-breakpoint-down("xs") {
                    margin: .5rem 0;
                }
            }

            h2 {
                @include media-breakpoint-down("lg") {
                    font-size: 40px;
                    line-height: 50px;
                }

                @include media-breakpoint-down("xs") {
                    font-size: 36px;
                    line-height: 45px;
                }
            }
        }

        .large-screen-svg-primary,
        .medium-screen-svg-primary,
        .large-screen-svg-light {
            fill: $login-registration-left-bg;
        }

        h1.display-2.text-white {
            max-width: none !important;
            margin-left: 52px !important;
            font-size: 58px;
            line-height: 74px;

            @media screen and (max-width: 1250px) {
                font-size: 55px;
            }
        }

        h1.text-white,
        h2.complete-your-profile,
        h2.display-1,
        h2.h1 {
            color: $white !important;

            .text-accent-a {
                color: $primary !important;
            }
        }

        .large-yellow-line {
            border-color: $primary;
        }

        .medium-yellow-line,
        .small-yellow-line {
            display: none;
        }

        .col-md-10.bg-light-200 .d-flex.align-items-center {
            margin-left: 0 !important;

            h1.data-hj-suppress {
                max-width: none;
                color: $white;
            }
        }

        .pp-page-content {
            @include media-breakpoint-down(xs) {
                margin: 1.5rem .5rem !important;
            }
        }

        h1.welcome-to-platform {
            color: $white;
            margin-bottom: 40px;
        }

        .organization-select-info {
            color: #888;
            font-size: 14px;
        }

        .organization-dropdown-item {
            font-size: 14px;

            & span {
                color: #888;
                margin-left: 8px;
            }
        }

        .authn-organization-form {
            line-height: normal;

            .pgn__form-control-decorator-group {
                margin-right: 0 !important;
            }

            .pgn__form-label {
                margin-bottom: 1rem;
                line-height: 1.4;
                font-size: 15px;
            }

            #is_organization_registered .pgn__form-label {
                @media screen and (max-width: 450px) {
                    max-width: 280px;
                }
            }

            #react-select-2-option-0 {
                line-height: 1.1;
            }
        }

        .authn-tooltip-icon {
            color: $white;
            display: inline-block;
            vertical-align: top;
            margin-left: 7px;
            background: $authn-tooltip-bg;
            text-align: center;
            font-weight: 700;
            font-size: 12px;
            position: relative;
            top: 2px;
            width: 16px;
            height: 16px;
            line-height: 16px;
            border-radius: 50%;
            cursor: pointer;

            &:hover .authn-tooltip {
                display: block;
            }

            .authn-tooltip {
                display: none;
                position: absolute;
                color: $white;
                background: $authn-tooltip-bg;
                z-index: 1;
                font: 400 13px/1.5 $font;
                padding: 10px 15px;
                border-radius: 4px;
                width: 175px;

                &:before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                }

                @media screen and (min-width: 611px) {
                    left: calc(100% + 15px);
                    top: 50%;
                    transform: translateY(-50%);

                    &:before {
                        left: -12px;
                        top: 50%;
                        transform: translateY(-50%);
                        border-width: 8px 12px 8px 0;
                        border-color: transparent $authn-tooltip-bg transparent transparent;
                    }
                }

                @media screen and (max-width: 610px) {
                    top: calc(100% + 15px);
                    right: calc(100% - #{$authn-tooltip-arrow-offset});

                    &:before {
                        top: -11px;
                        right: 0;
                        transform: translateX(-20px);
                        border-width: 0 8px 12px;
                        border-color: transparent transparent $authn-tooltip-bg;
                    }
                }

                @media screen and (max-width: 450px) {
                    right: auto;
                    left: calc(100% - #{$authn-tooltip-arrow-offset});

                    &:before {
                        top: -11px;
                        left: 0;
                        transform: translateX(20px);
                        border-width: 0 8px 12px;
                        border-color: transparent transparent $authn-tooltip-bg;
                    }
                }
            }
        }
    }

    #forget-password-form .alert-content .alert-link {
        color: $primary !important;

        &:hover {
            color: darken($primary, 15%) !important;
        }
    }

    // Error page message

    & > .py-5.container-fluid .row {
        width: 100%;
    }

    // Not found page messages

    & > .container-fluid > .mw-32em {
        margin: 0 auto;
    }

    // oauth buttons

    #registration-form,
    #sign-in-form {
        .btn-social {
            background: none;

            @extend .btn-outline-primary;

            &:focus:before {
                display: none;
            }

            .btn-tpa__font-container {
                background-color: $primary;
            }
        }
    }

    // top stripe

    .extra-large-screen-top-stripe {
        flex: auto;

        @include media-breakpoint-up("xl") {
            display: flex;
            height: .5rem;
            background: $primary;
        }
    }

    .medium-screen-top-stripe {
        display: flex;
        height: .5rem;

        @include media-breakpoint-only("lg") {
            background: $primary;
        }

        @include media-breakpoint-only("md") {
            background: $primary;
        }
    }

    .small-screen-top-stripe {
        height: .25rem;
        background: $primary;
    }
}

#paragon-portal-root {
    .authn-modal-title {
        font-size: 1.2rem;
    }

    .authn-modal-btn {
        font-size: 17px;
    }
}
