#root {
    header.site-header-desktop,
    header.learning-header {
        box-shadow: 0 0 6px 0 rgba($black, .75);
        padding: $header-vertical-padding 0;
        z-index: 4;
        background: $header-bg;

        .logo {
            padding: 0;
            top: 0;
            height: $header-logo-height;
            margin-right: 25px;

            @include media-breakpoint-down(xs) {
                margin-right: 5px;
                height: $header-logo-height-mobile;
            }

            @media screen and (max-width: 370px) {
                height: 22px;
            }
        }

        .main-nav .nav-link {
            padding: 5px;
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;
            color: $header-nav-link-color;

            &:hover {
                background: none;
                color: $header-nav-link-color-hover;
            }

            &:focus:not(:hover) {
                color: $white;
                border-radius: 3px;
            }
        }

        .dropdown-menu {
            min-width: 10rem;
            padding: 0 !important;
            border: none;
            box-shadow: $dropdown-shadow !important;

            .dropdown-section-name {
                white-space: nowrap;
                color: $dropdown-section-name-color;
                text-transform: uppercase;
                font-weight: 600;
                padding: 15px 24px 8px;
                display: block;
                font-size: 14px;
            }

            .dropdown-item {
                padding: 10px 24px;
                font-size: 14px;
                color: $dropdown-item-color;

                &:hover {
                    background: $dropdown-item-bg-color-hover;
                    color: $dropdown-item-color-hover;
                }
            }

            .with-border {
                border-top: $dropdown-item-border;
            }
        }
    }

    header.site-header-desktop {
        height: auto;

        .main-nav {
            margin-left: auto;

            .nav-link {
                color: $white;

                &:hover {
                    color: $primary;
                }
            }
        }

        .menu-trigger:not(:hover, :active) {
            color: $white;
            border-color: $white;
        }

        .secondary-menu-container {
            margin-left: 10px !important;
        }

        & > .px-5 {
            max-width: $container-width;
            margin: 0 auto;
            padding: 0 12px !important;

            .main-nav {
                .menu {
                    margin-left: 10px;
                }

                .expanded .nav-link {
                    color: $white;

                    &:hover {
                        background: $primary;
                    }
                }
            }

            .course-title-lockup {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }

    div.site-header-desktop {
        & > .container-fluid {
            @media screen and (max-width: 479px) {
                padding: 0 !important;
            }

            .pgn__action-row {
                & > .w-25 {
                    width: 30% !important;
                }

                & > a {
                    @media screen and (max-width: 479px) {
                        width: 32px;
                        overflow: hidden;
                    }
                }

                .logo {
                    @include media-breakpoint-down(lg) {
                        margin-right: 0;
                    }
                }
            }

            .course-title-lockup {
                min-width: 0;
                text-decoration: none !important;

                @include media-breakpoint-down(lg) {
                    display: none;
                }
            }
        }
    }

    header.learning-header {
        height: auto;
        font-family: $font;

        @include media-breakpoint-down(xs) {
            padding-bottom: 20px;
        }

        .logo img {
            height: 100%;
        }

        .container-fluid {
            @include media-breakpoint-down(xs) {
                flex-wrap: wrap;
            }
        }

        .course-title-lockup {
            border: none;
            padding: 0;
            max-width: none;

            @include media-breakpoint-down(xs) {
                order: 3;
                width: 100%;
                text-align: center;
                padding: 15px 0 0;
            }

            .small {
                font-size: 87.5%;
            }

            span:not(.course-title) {
                padding-bottom: .2rem;
            }

            span {
                color: $white;
            }
        }

        .user-dropdown .btn {
            height: auto;
            padding: .5625rem 1rem;

            &:not(:hover, :focus, :active) {
                color: $white;
                border-color: $white;
            }
        }

        .container-fluid > a:not(.logo) {
            margin-left: auto;
        }

        a.text-gray-700 {
            color: $white !important;
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;

            &:hover {
                color: $primary !important;
                text-decoration: none;
            }

            @media screen and (max-width: 370px) {
                font-size: 12px;
            }
        }

        .dropdown-menu {
            left: auto !important;
            top: 46px;
            right: 0 !important;
            transform: none;
        }

        .anonymous-user-menu {
            margin-left: 1rem;

            .btn {
                font-weight: 700;
                font-size: 14px;
                text-transform: uppercase;
                line-height: 1.5;
                padding: 9px 10px;
            }
        }
    }

    header.site-header-mobile {
        padding: $header-vertical-padding 0;
        height: auto;
        background: $header-bg;

        .logo img {
            height: $header-logo-height;

            @include media-breakpoint-down(xs) {
                height: $header-logo-height-mobile;
            }
        }

        .menu-content {
            padding: 10px;

            .dropdown-section-name {
                display: block;
                padding: 13px 5px 0;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
                color: $dropdown-section-name-color;
            }

            .with-border {
                border-top: 1px solid rgba($dropdown-item-color, .3);
            }

            a {
                color: $dropdown-item-color;
                padding: 6px 5px;
                font-size: 14px;
                font-weight: 500;
            }

            .menu-trigger {
                width: 100%;

                & + .menu-content {
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                }
            }
        }

        .menu-trigger {
            width: 45px;
            height: 45px;

            svg rect,
            .avatar {
                color: $white;
            }
        }
    }
}
