// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/openedx/paragon/blob/master/scss/core/ for reference

$primary: #61b4e4 !default;
$brand: $primary !default;
$link-color: $primary !default;
$black: #000;
$white: #fff;
$inline-link-color: $primary;

// common settings
$container-width: 1230px;
$border-radius: 3px;
$font: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
$collapsible-card-spacer-icon: 1.5rem;

// settings for header
$header-vertical-padding: 38px;
$header-logo-height: 29px;
$header-logo-height-mobile: 25px;
$header-nav-link-color: $primary;
$header-nav-link-color-hover: darken($primary, 20%);
$header-bg: #083954;

// settings for user dropdown
$dropdown-section-name-color: #003a56;
$dropdown-item-color: #849aa5;
$dropdown-item-color-hover: #4a4a4a;
$dropdown-item-bg-color-hover: #f4f5f8;
$dropdown-item-border: 1px solid #e4e5ec;
$dropdown-shadow: 0 0 10px 0 rgba(69, 73, 91, .22);

// settings for footer
$footer-logo-height: 60px;
$footer-bg: $header-bg;
$footer-nav-link-color: #fff;
$footer-nav-link-color-hover: darken($footer-nav-link-color, 20%);
$footer-support-text-and-logo: #fff;
$footer-social-link-bg: #00afaa;
$footer-social-link-bg-hover: lighten($footer-social-link-bg, 20%);

// settings for cookie banner
$cookie-banner-cta-base: $primary;
$cookie-banner-cta-hover: darken($cookie-banner-cta-base, 20%);

// login and regisration pages
$login-registration-left-bg: #083954;
$authn-tooltip-bg: #849aa5;
$authn-tooltip-arrow-offset: 35px;

// default bootstrap variables
$col-gutter-width: 24px;
